<div id="SOHUCS" sid="<%=key%>" ></div> 
<script charset="utf-8" type="text/javascript" src="//cy-cdn.kuaizhan.com/upload/changyan.js" ></script>
<style>
    
</style>
<script type="text/javascript">
    window.changyan.api.config({
        appid: "<%=theme.changyan_appid%>",
        conf: "<%=theme.changyan_conf%>"
    });
</script>
</script>